body {
    font-family: "Droid Sans Mono", monospace;
}

.limited-row {
    margin: auto;
    max-width: 600px;
}

.custom-input {
    border-color: #6c757d;
}

.custom-input:focus {
    border-color: #6c757d;
    box-shadow: 0 0 0 0.2rem rgba(108, 117, 125, .5);
}

.custom-input:disabled {
    opacity: .65;
}

.custom-input.is-valid, .custom-input.is-invalid {
    background-image: none;
}

#download-button:disabled {
    background-color: #e9ecef;
}
