name: Ubuntu

on:
  push:

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: true
      max-parallel: 1
      matrix:
        python-version: [ 3.6, 3.7, 3.8, 3.9 ]
        os: [ ubuntu-latest ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip
          pip install -r ./requirements.txt

      - name: Run tests
        env:
          CREDENTIALS: ${{ secrets.CREDENTIALS }}
        run: |
          pytest --verbose --cov=./ --cov-report xml

      - name: Upload tests coverage to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          bash <(curl -Ls https://coverage.codacy.com/get.sh) report -l Python -r ./coverage.xml

      - name: Upload tests coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: false
