name: Windows

on:
  push:

jobs:
  test:
    name: Test on Python ${{ matrix.python-version }} and ${{ matrix.os }}
    if: contains(github.event.head_commit.message, 'skip ci') == false
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      max-parallel: 1
      matrix:
        python-version: [ 3.7, 3.8, 3.9, 3.10 ]
        os: [ windows-latest ]

    steps:
      - name: Checkout repository
        uses: actions/checkout@v2

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64

      - name: Install Python packages
        run: |
          python -m pip install --upgrade pip pipenv
          pipenv install --deploy --dev --system

      - name: Run tests
        env:
          CREDENTIALS: ${{ secrets.CREDENTIALS }}
        run: |
          pytest --verbose --cov=./ --cov-report xml

      - name: Upload tests coverage to Codacy
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
        run: |
          python -m pip install codacy-coverage
          python-codacy-coverage

      - name: Upload tests coverage to Codecov
        uses: codecov/codecov-action@v1
        with:
          fail_ci_if_error: false
